<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div  style="
    border: 2px solid black;
    width: 300px;
    height: auto;
    border-radius: 8px;
    font-family: monospace;
    font-size: 16px;
    padding-bottom: 20px;
  ">
        <h1>Name: <%= user.name %></h1>
        <h1>Name: <%= user.lastName %></h1>
        <h1>Name: <%= user.age %></h1>
        <a href="/">Go To Home</a>
    </div>
</body>
</html>